@import "variables.less";
@import "mixins.less";
@import "utilities.less";
@import "responsive-utilities.less";
@import "grid.less";

body{
  background: @grayDark;
  .container{
    background: @white;
    margin: 0 auto;
  }
}

header.container{
  background: url(../img/bg-header.png) 0 0 repeat-x;
  height:116px;
}