//
// Utility classes
// --------------------------------------------------


// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}

// For Affix plugin
.affix {
  position: fixed;
}

// General definitions
// --------------------------------------------------

a{
  cursor: pointer;
}

.vertical-space{
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.nowrap{
  white-space:nowrap;
}

.box{
  background: @grayBox;
  .border-radius(4px);
  border-bottom: 1px solid #d5d2ca;
}

// Icons
// --------------------------------------------------

.icon{
  display: inline-block;
  vertical-align: middle;
  background-image: url('../img/icons-sprite.png');
  background-repeat: no-repeat;

  &.icon-search{
    width: 15px;
    height: 15px;
    background-position: 0 -120px;
  }

  &.icon-dot{
    width: 6px;
    height: 6px;
    background-position: 0 -26px;
    &.active{
      background-position: 0 0;
    }
  }

  &.icon-pointers-vertical{
    width: 10px;
    height: 13px;
    background-position: 0 -87px;
  }

  &.icon-legal-logo{
    width: 19px;
    height: 15px;
    background-position: 0 -52px;
  }
}

// Predefined by template styles
// --------------------------------------------------

// Navigation
.nav{
  font: 13px/12px @serifFontFamily;
  color: @linkColor;
  text-transform: uppercase;
  letter-spacing: 1px;
  a{
    text-decoration: none;
    color: @linkColor;
    &:hover{
      color: #8a2346;
    }
    &:visited{
      color: @linkColor;
    }
  }
}

// Navigation utility
.nav-utility{
  font: 10px/12px @serifFontFamily;
  color: @linkColor;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  a{
    text-decoration: none;
    color: @linkColor;
    &:hover{
      color: @linkColorHover;
    }
    &:visited{
      color: @linkColor;
    }
  }
}

.carousel-headline{
  font: 36px/36px @serifFontFamily;
  color: #fff;
  letter-spacing: 1px;
  text-shadow: @linkColor 0 1px;
}

.carousel-action{
  font: 13px/12px @serifFontFamily;
  color: @linkColor;
  text-transform: uppercase;
  letter-spacing: 1px;
}

a.carousel-action{
  text-decoration: none;
  color: @linkColor;
  &:hover{
    color: #8a2346;
  }
  &:visited{
    color: @linkColor;
  }
}

.subhead{
  font: 14px/18px @sansFontFamily;
  color: @headingsColor;
  text-transform: uppercase;
  letter-spacing: 1px;
  i{
    text-transform: lowercase;
  }
}

.action{
  font: 10px @sansFontFamily;
  color: @linkColor;
  text-transform: uppercase;
}

a.action,
.action a{
  text-decoration: none;
  color: @linkColor;
  &:hover{
    color: @linkColorHover;
  }
  &:visited{
    color: @linkColor;
  }
}

.spotlight-feature{
  font: italic 18px/19px @serifFontFamily;
  color: @linkColor;
  a{
    text-decoration: none;
    color: @linkColor;
    &:hover{
      color: @linkColorHover;
    }
    &:visited{
      color: @linkColor;
    }
  }
}

.spotlight-news{
  font: 14px/17px @serifFontFamily;
  color: @linkColor;
  a{
    text-decoration: none;
    color: @linkColor;
    &:hover{
      color: @linkColorHover;
    }
    &:visited{
      color: @linkColor;
    }
  }
}

.did-you-know{
  font: italic 14px/16px @serifFontFamily;
  color: @linkColor;
  a{
    text-decoration: none;
    color: @linkColor;
    &:hover{
      color: @linkColorHover;
    }
    &:visited{
      color: @linkColor;
    }
  }
}

.bullet-text{
  font: 12px/17px @sansFontFamily;
  color: @linkColor;
  a{
    text-decoration: none;
    color: @linkColorHover;
    &:hover{
      text-decoration: underline;
    }
    &:visited{
      color: @linkColor;
    }
  }
}

.footer-subhead{
  font: 10px/10px @serifFontFamily;
  color: @linkColor;
  text-transform: uppercase;
}

.footer-text{
  font: 11px/19px @sansFontFamily;
  color: @linkColor;
  a{
    text-decoration: none;
    color: @linkColor;
    &:hover{
      color: @linkColorHover;
    }
    &:visited{
      color: @linkColor;
    }
  }
}

.footer-legal{
  font: 9px/12px @sansFontFamily;
  color: @linkColor;
  a{
    text-decoration: none;
    color: @linkColor;
    &:hover{
      color: @linkColorHover;
    }
    &:visited{
      color: @linkColor;
    }
  }
}

.lines{
  //TODO
}

.drop-shadow{
  //TODO
}